@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .brand{
    font-style: italic;
    color: #E6533C;
    font-weight: 700;
    font-size: 3rem;
  }

  /*shared styles*/ 
.display-flex{
    display: flex;
}

.text-gray{
    color: #FFFFFF;
}
.text-light-gray{
    color: ;
}

.bg-light{
    background-color: #111111;
}

.bg-dark{

}

  /* Navbar related Style  */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.navbar, .banner {
    max-width: 1440;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
}

.banner-text{
    max-width: 50%;
}

.nav-link{
    text-decoration: none;

}

.Home-btn{
    background-color: #E6533C;
    padding: 5px 30px;
}

.download-btn{
    color: #FFFFFF;
    padding: 5px 30px;
    background-color: #111111;
}
.banner{
    color: #FFFFFF;
}

.banner-btn{
    justify-content: space-around;
}

.banner-title{
    font-size: 4.8rem;
}

#shape{
    font-style: italic;
}

.banner{
    display: flex;
}
.banner-image{
    display: block;
    margin-left: 100%;
    margin-right: auto;
    width: 50%;
}